*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:	#F0F4C3;
  height: 100vh;
}
section{
  width:593px;
  height: 592px;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  align-content: center;
}
div{
  height:98px;
  width:98px;
  background-color:#BDB76B;
  border: 1px solid white;
}
