*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 100vh;
}
section{
  width:515px;
  height: 515px;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  align-content: center;
}
div{
  height:128px;
  width:128px;
  background-color:red;
  border: 1px solid white;
}
