*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
section{
  width:395px;
  height: 395px;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  align-content: center;
}
div{
  height:98px;
  width:98px;
  background-color:red;
  border: 1px solid white;
}
